// E X T R A   F I L E S
@import './base/mixin', './base/variables', './pages/welcome', './pages/signUp',
    './utilities/spacing', './components/buttons';
// G L O B A L   S T Y L E
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@include fontFamily(
    'abdoullah-ashgar-el-kharef',
    '../assets/fonts/abdoullah-ashgar-el-kharef/abdoullah-ashgar-el-kharef.ttf'
);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
}
h1,
h2 {
    font-family: 'abdoullah-ashgar-el-kharef';
    font-weight: 400;
    color: $heading-color;
}
a {
    text-decoration: none;
}
section {
    min-height: 100vh;
    @include breakpoints(small) {
        min-height: fit-content;
    }
}
p {
    font-size: 24px;
    line-height: 38px;
    color: $text-color;
    @include breakpoints(small) {
        font-size: 16px;
        line-height: 25.6px;
        text-align: center;
    }
}
h2 {
    font-size: 42px;
    line-height: 50px;
    @include breakpoints(small) {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
}
.img-wrapper {
    img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    @include breakpoints(small) {
        width: 315px;
        height: 315px;
    }
}
